<div class="dash-content">
    <button class="btn-success" (click)="getAllInvoicesDetails()">Generated Invoices</button>
    <div class="activity">
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">All the Generated Invoices List</span>
        </div>

        <table class=" table"  id="zebra-h">
           <thead>
                <th>Sr.No</th>
                <th>Invoice Id</th>
                <th>Invoice Date</th>
                <th>Invoice Due Data</th>
                <th>Invoice Tax</th>
                <th>Total Bill Amount</th>
            </thead>
            <tr *ngFor="let invoices of invoiceList,index as i">
                <td>{{i+1}}</td>
                <td>{{invoices.invoiceId}}</td>
                <td>{{invoices.invoiceDate}}</td>
                <td>{{invoices.invoicedueDate}}</td>
                <td>{{invoices.invoiceTax}}</td>
                <td>{{invoices.totalBillAmount}}</td>
            </tr>
        </table>
    </div>
</div>