<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Patients</title>
</head>

<body>
    <section class="vh-100 bg-image" style="background-image: url('../../../../assets/registerBack.png');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5" [ngStyle]="{color:'#87CEEB'}">Register New
                                    Insurance Company</h2>
                                <form>
                                    <div class="form-outline md-4">
                                        <label class="form-label" for="name">Your Company Name</label>
                                        <input type="text" id="name" class="form-control " name="companyName"
                                            placeholder="Username" required />
                                    </div>

                                    <div class="form-outline md-4">
                                        <label class="form-label" for="form3Example4cg">Enter Password</label>
                                        <input type="password" id="password" class="form-control "
                                            name="companyPassword" placeholder=" Enter your Password" required />
                                    </div>

                                    <div class="form-outline md-4">
                                        <label class="form-label" for="email"> Company Email</label>
                                        <input type="email" id="email" class="form-control " name="companyEmail"
                                            placeholder=" Ex:abcd@gmail.com" required />
                                    </div>

                                    <div class="form-outline md-4">
                                        <label class="form-label" for="contact">Company Contact</label>
                                        <input type="tel" id="contact" class="form-control" name="companyContact"
                                            placeholder=" +91-XXXXXXXXXX" required />
                                    </div>

                                    <div class="form-outline md-4">
                                        <label class="form-label" for="year">Established Year</label>
                                        <input type="date" id="year" class="form-control " name="companyStartYears"
                                            placeholder="Enter year" required />
                                    </div>

                                    <br>
                                    <button type="submit" class="btn btn-primary col-lg-12">Register</button>
                                    <br>

                                    <p class="text-center text-muted mb-0">Have already an account? <a href="#!"
                                            class="fw-bold text-body"><u routerLink="/login">Login here</u></a></p>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="copyright">
            <p class="text"> CareAssist Medical @All rights reserved</p>
        </footer>
    </section>
</body>

</html>