
<form class="d-flex" #searchForm="ngForm" (ngSubmit)="searchPatients()">
    <input class="form-control me-2" type="search" name="patientName" [(ngModel)]="searchQuery" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

  <table id="zebra-h" class="table">
    <thead>
        <th>Sr No.</th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Disease</th>
        
    </thead>
    <tr *ngFor="let patient of searchResults,index as i">
        <td>{{i+1}}</td>
        <td>
            {{patient.patientId}}
        </td>
        <td>{{patient.patientName}}</td>
        <td>{{patient.patientEmail}}</td>
        <td>{{patient.patientDOB}}</td>
        <td>{{patient.patientGender}}</td>
        <td>{{patient.patientContact}}</td>
        <td>{{patient.patientAddress}}</td>
        <td>{{patient.patientDisease}}</td>
       

    </tr>
</table>
<div class="space"></div>
