<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
     <header>
          <img class="img-responsive " src="../assets/logo1.png" routerLink="/">
          <nav class="navbar">
               <ul>
                    <li>About </li>
                    <li>Services</li>
                    <li>Contact Us</li>
                    <li>
                         <div class="dropdown">
                              Registration
                              <div class="dropdown-menu">
                                   <a routerLink="/registerprovider">Healthcare Provider</a>
                                   <a routerLink="/registerpatient">Patient</a>
                                   <a routerLink="/registercompany">Insurance Company </a>
                              </div>
                         </div>
                    </li>
                    <li >
                         <div class="dropdown">
                              Login
                              <div class="dropdown-menu">
                                   <a routerLink="/login/provider">Healthcare Provider</a>
                                   <a routerLink="/login/company">Insurance Company</a>
                                   <a routerLink="/login/patient">Patients </a>
                                   <a routerLink="/login/admin">Admin </a>
                              </div>
                         </div>
                    </li>
               </ul>
          </nav>
     </header>
     <div class="row">
          <div class="column">
               <img src="../../../assets/medicalback.jpg" alt="Snow" style="width:100%">
          </div>
     </div>

     <footer>
          <div class="footer">
               <div class="contain">
                    <div class="col">
                         <h2>Company</h2>
                         <ul>
                              <li>About us</li>
                              <li> Our Mission</li>
                              <li>Services</li>
                         </ul>
                    </div>
                    <div class="col">
                         <h2>Services</h2>
                         <ul>
                              <li>Emergency Services </li>
                              <li>Outpatient Services</li>
                              <li>Surgical Services</li>
                              <li>Cancer Care</li>
                              <li>All Other Services</li>
                         </ul>
                    </div>
                    <div class="col">
                         <h2>Contact us</h2>
                         <ul>
                              <li>+91-554478551</li>
                              <li> careassistmedo@gmail.com</li>

                         </ul>
                    </div>

                    <div class="col address">
                         <h2>Our Head Branch </h2>
                         <ul>
                              <li>Hingna , Nagpur , Maharashtra-440009</li>
                         </ul>
                    </div>
                    <div class="clearfix"></div>
               </div>
          </div>

          <footer class="copyright">
               <p class="text"> CareAssist Medical @All rights reserved</p>
          </footer>



     </footer>




</body>

</html>