<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
     <header>
          <img class="img-responsive " src="../assets/logo1.png" routerLink="/">
          <nav class="navbar">
               <ul>
                    <li>About </li>
                    <li>Services</li>
                    <li>Contact Us</li>
                    <li>
                         <div class="dropdown">
                              Registration
                              <div class="dropdown-menu">
                                   <a routerLink="/registerprovider">Healthcare Provider</a>
                                   <a routerLink="/registerpatient">Patient</a>
                                   <a routerLink="/registercompany">Insurance Company </a>
                              </div>
                         </div>
                    </li>
                    <li routerLink="/login">Login</li>
               </ul>
          </nav>
     </header>
     <div class="row">
          <div class="column">
               <img src="../../../assets/medicalback.jpg" alt="Snow" style="width:100%">
          </div>
     </div>



</body>

</html>