<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="admin.js"></script>


    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Admin Dashboard Panel</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <img class="img-responsive " src="../assets/logo1.png">
            <!-- <span class="logo_name"></span> -->
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a>
                        <i class="uil uil-chart"></i>
                        <span class="link-name" routerLink="/getallpatients" >Patients</span>
                    </a></li>
                <li><a>
                        <i class="uil uil-chart"></i>
                        <span class="link-name" routerLink="/getallproviders">Healthcare Providers</span>
                    </a></li>
                <li><a>
                        <i class="uil uil-chart"></i>
                        <span class="link-name" routerLink="/getallcompanies">Insurance Companies</span>
                    </a></li>
                <li><a>
                        <i class="uil uil-chart"></i>
                        <span class="link-name" routerLink="/getallplans">Insurance Plans</span>
                    </a></li>
                <li><a>
                        <i class="uil uil-chart"></i>
                        <span class="link-name" routerLink="/getallinvoices">Invoice Details</span>
                    </a></li>

                    <li><a>
                        <i class="uil uil-chart"></i>
                        <span class="link-name" routerLink="/getallclaims">Claim History</span>
                    </a></li>

            </ul>

            <hr>
            <ul class="logout-mode">
                <li><a >
                        <i class="uil uil-signout"></i>
                        <span class="link-name" >Logout</span>
                    </a></li>



            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>


        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text"> Admin Dashboard</span>
                </div>

                <button class="btn-success" (click)="getAllPatientsData()">Display All The patients</button>
                <div class="activity">
                    <div class="title">
                        <i class="uil uil-clock-three"></i>
                        <span class="text">All the Patients List</span>
                    </div>

                    <!-- <div class="activity-data">
                        <div class="data names"> -->
                            <table class="table table-stripped">
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>DOB</th>
                                    <th>Gender</th> 
                                    <th>Phone</th>
                                    <th>Address</th>
                                    <th>Disease</th>
                                </tr>
                                <tr *ngFor="let patient of patientList,index as i">
                                    <td>{{i+1}}</td>
                                <td>
                                    {{patient.patientId}}
                                </td>
                                <td>{{patient.patientName}}</td>
                                <td>{{patient.patientEmail}}</td>
                                <td>{{patient.patientDOB}}</td>
                                <td>{{patient.patientGender}}</td>
                                <td>{{patient.patientContact}}</td>
                                <td>{{patient.patientAddress}}</td>
                                <td>{{patient.patientDisease}}</td>
                            
                            </tr>
                            </table>
                        </div>
                        <div class="data email">
                           
                        </div>
                        <div class="data joined">
                           
                        </div>
                        <div class="data type">
                           
                        </div>
                        <div class="data status">
                          
                        </div>
                    </div>
                </div>
            <!-- </div>
        </div> -->


    </section>



</body>

</html>