<div class="dash-content">


    <button class="btn-success" (click)="getAllProvidersData()">Display All The Healthcare Providers</button>
    <div class="activity">
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">All the Providers List</span>
        </div>

        <table class="table " id="zebra-h">
            <tr>
                <td>Sr No.</td>
                <td>Id</td>
                <td>Name</td>
                <td>Email Id</td>
                <td>Gender</td>
                <td>Speciality</td>
                <td>Designation</td>
                <td>Experience</td>
                <td>Qualification</td>
                <td>Action</td>
            </tr>

            <tr *ngFor="let providers of healthcareProvidersList,index as i">
                <td>{{i+1}}</td>
                <td>{{providers.providerId}}</td>
                <td>{{providers.providerName}}</td>
                <td>{{providers.providerEmail}}</td>
                <td>{{providers.providerGender}}</td>
                <td>{{providers.providerSpeciality}}</td>
                <td>{{providers.providerDesignation}}</td>
                <td>{{providers.providerExperience}}</td>
                <td>{{providers.providerQualification}}</td>
            </tr>
        </table>
    </div>
</div>