<div class="dash-content">


    <button class="btn-success" (click)="getAllClaims()">Display All The Insurance Claims</button>
    <div class="activity">
        <div class="title">
            <i class="uil uil-clock-three"></i>
            <span class="text">All the Insurance Claims List</span>
        </div>

        <table class="table" id="zebra-h">
            <thead>
                <th>Sr.No</th>
                <th>Claim Id</th>

                <th>Claim Amount</th>
                <th>Claim Status</th>
                <th>Hospital Bill</th>
                <!-- <td>PatientId</td>
                            <td>planId</td> -->
            </thead>
            <tr *ngFor="let claims of claimsList,index as i">

                <td>{{i+1}}</td>
                <td>{{claims.claimId}}</td>
                <td>{{claims.claimAmount}}</td>
                <td>{{claims.claimStatus}}</td>
                <td>{{claims.invoiceAmount}}</td>
            </tr>
        </table>

    </div>
</div>